.cardContainer {
    /* width: calc(23% - 108px);
    height: 40%; */
    margin: 14px;
    padding: 12px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.2px);
    -webkit-backdrop-filter: blur(6.2px);
    border: 1px solid rgba(255, 255, 255, 0.28);
}

.image {
    background-image: url('https://cdn.pixabay.com/photo/2017/06/08/18/31/supermarket-2384476_1280.jpg');
    width: calc(98%);  
    height: 77%;
    border: 1px solid black;
    border-color: black;
    background-size: cover; /* Adjust to your preference */
    background-repeat: no-repeat;
    background-position: center;
}

.lower-half {
    display: flex;
    justify-content: space-between;
    margin-top: 7%;
}

.price {
}

/* .addButton {
    background-color: #14b2f1;
    border: none;
    color: #ffff;
    width: 4rem;
    border-radius: 4px;
}

.addButton :hover {
    background-color: #FC7500 !important;
    pointer-events: cursor;
} */
